@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/rBHvpRWBkgyW99dXT88n7yEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/NX1NravqaXESu9fFv7KuqiEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/SKK6Nusyv8QPNMtI4j9J2yEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/gFXtEMCp1m_YzxsBpKl68iEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/zhcz-_WihjSQC0oHJ9TCYPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local('Montserrat Medium'), local('Montserrat-Medium'), url(https://fonts.gstatic.com/s/montserrat/v12/BYPM-GE291ZjIXBWrtCwegfbXzrQSAAEBIYSBdOJ6AI.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local('Montserrat Medium'), local('Montserrat-Medium'), url(https://fonts.gstatic.com/s/montserrat/v12/BYPM-GE291ZjIXBWrtCweihRd9EcKnxd5WrMWY0Fr3U.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local('Montserrat Medium'), local('Montserrat-Medium'), url(https://fonts.gstatic.com/s/montserrat/v12/BYPM-GE291ZjIXBWrtCwegoO3BxTt7eneo3rZcXyZuQ.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local('Montserrat Medium'), local('Montserrat-Medium'), url(https://fonts.gstatic.com/s/montserrat/v12/BYPM-GE291ZjIXBWrtCwemPHx8QIAbG0MeMM9fVyzAY.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local('Montserrat Medium'), local('Montserrat-Medium'), url(https://fonts.gstatic.com/s/montserrat/v12/BYPM-GE291ZjIXBWrtCwejOo-lJoxoMO4vrg2XwIHQk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url(https://fonts.gstatic.com/s/montserrat/v12/q2OIMsAtXEkOulLQVdSl04isI9EG050reXkJRbApsgE.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url(https://fonts.gstatic.com/s/montserrat/v12/q2OIMsAtXEkOulLQVdSl062rAPV-9ExGJs04MAMGhqA.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url(https://fonts.gstatic.com/s/montserrat/v12/q2OIMsAtXEkOulLQVdSl01LC-HPhLC5XMyyJ-BGMvF4.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url(https://fonts.gstatic.com/s/montserrat/v12/q2OIMsAtXEkOulLQVdSl04W5M0nk1V9I9cDKlK12wzw.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url(https://fonts.gstatic.com/s/montserrat/v12/q2OIMsAtXEkOulLQVdSl06VlZKEoJGujTpfWnQT9bUY.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v12/IQHow_FEYlDC4Gzy_m8fcude9INZm0R8ZMJUtfOsxrw.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v12/IQHow_FEYlDC4Gzy_m8fcrpHcMS0zZe4mIYvDKG2oeM.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v12/IQHow_FEYlDC4Gzy_m8fcjh33M2A-6X0bdu871ruAGs.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v12/IQHow_FEYlDC4Gzy_m8fchHJTnCUrjaAm2S9z52xC3Y.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v12/IQHow_FEYlDC4Gzy_m8fcoWiMMZ7xLd792ULpGE4W_Y.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

body{
color: #323232;
font-size: 13px;
font-family: 'Montserrat', sans-serif;
font-weight: 400;
letter-spacing: 1px;
margin: 0;
    padding-top: 0px;
}
.navbar {
    position: relative;
    min-height: 30px;
    margin-bottom: 20px;
    border: 1px solid transparent;
        border-top-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 1px;
}
    .navbar_fixed{
        position:fixed;
    }
.nav_item{
font-size: 15px;
}
.navbar-nav > .active > a,  .navbar-nav > .active > a:focus,  .navbar-nav > .active > a:hover {
    color: #555;
    background-color: transparent;
    border-bottom: 2px solid #8dd452;
}
.navbar-nav > li > a {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    border-bottom: 2px solid transparent;
    color:white;
}
.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: transparent;
    color:grey;
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 2px solid grey;
    border-radius: 4px;
}
.banner{
padding: 15% 0px;
background: url("../images/coworking.png");
background-size: cover;
background-attachment: fixed;
color:white;
display:block;
}
.section_glass{
margin:0 15%; width:76%
}
.logo_width{
width:100px;
}
.features_section{
    margin:5% 0%;
}
.banner_section{
overflow: hidden;
position: relative;
 }

.first_section_part{
 background: rgba(0,0,0,0.6);
 padding: 33px 0px;
}

a:link,
a:visited{
    text-decoration:none;
}

.img_width{
width:10%;
}

.banner_button{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 6px;
    font-size: 12px;
    line-height: normal;
    font-weight: 700;
   font-family: Raleway,sans-serif;
    letter-spacing: 2px;
    cursor: pointer;
    text-decoration:none;
}
 .demo_button{
display: inline-block;
border: 1px solid #fff;
border-radius: 2px;
text-transform: uppercase;
text-decoration: none;
padding: 11px 24px;
font-size: 11px;
color: #fff;
    }
.banner_button_content{
padding:10px;
color:white;
text-decoration:none;
text-transform: uppercase;
}

.about-text {
    padding-left: 15px;
}
.about-text h2 {
    font-size: 35px;
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 15px;
}
.second_section{
text-align:center;
margin-top:20px;
}
.section_title{
text-align: center;
margin-bottom: 80px
}
.icon{
    font-size: 30px;
    margin-top: 25px;
    padding: 25px;
    background: #333;
    color: white;
    border-radius: 50px;
}
}
.single_feature{
    margin-bottom: 40px;
    position: relative;
    padding: 0 0 0 75px;
}
.single-feature h3 {
    color: #fff;
    margin: 0 0 10px;
    font-size: 20px;
    font-weight: 600;
}
.sec_section_head{
    font-size: 27px;
letter-spacing: 2px;
line-height: 37px;
font-family: Raleway,sans-serif;
font-weight: 600;
}
.sec_color{
    color: #be851d !important;
}
.sec_content{
font-size: 14px;
line-height: 20px;
font-weight: 400;
margin: 0 0 15px 0;
color: #1d1d1d;
letter-spacing: 1px;
font-family: Raleway,sans-serif;
padding-left: 5px;
padding-right: 5px;
}
.image_section{
    text-align:center;
    margin-top:45px;
    margin-bottom:45px;
}
.centerd_img{
    display: block;
 
}
.border_bottom{
margin-top: 45px;
margin-bottom: 45px;
border-top: 1px solid #d4d4d4;
border-bottom: none;
border-left: none;
border-right: none;
padding-bottom: 10px;
}

.margin_section{
padding-top:45px;
padding-bottom:45px;
}
.margin_top{
    padding-top:45px;
}
.centered{
    text-align:center;
    z-index:999;
}
.give-feedback1{
padding: 5px 15px;
font-size: 16px;
}
.block_inline{
display:inline-block;
}
.border_bottom_dotted{
    margin-top: 45px;
padding-top:30px;
border-top: 1px dashed #d4d4d4;
border-bottom: none;
border-left: none;
border-right: none;
padding-bottom: 10px;
}
.about{
    padding:13px 0px;
}
/*.box{
    transition: transform 0.6s ease-in-out 0s, opacity 0.6s ease-in-out 0s; 
    transition: transform 0.6s ease-in-out 0s, opacity 0.6s ease-in-out 0s; 
}
.about{
transform-style: preserve-3d;
transform: perspective(1000px);
}
.about img,
.about p{
    transition: all 0.8s ease;
}
.about .hidden1 img{
    opacity: 0;
    transform: translate3d(0, 0, 800px) rotateY(-48deg);
}
.about .hidden1 p{
    opacity: 0;
    transform: translate3d(0, 0, 800px) rotateY(48deg);
}*/
.img_width{
    width:20%;
}
.btn_color_must{
    color: #fff;
background: #db9618;
border: none;
text-transform: uppercase;
font-size: 12px;
    line-height: normal;
    font-weight: 700;
   font-family: Raleway,sans-serif;
    letter-spacing: 2px;
    cursor: pointer;
    text-decoration:none;
    padding-top:14px;
    padding-bottom:14px;
    padding-left: 22px;
    padding-right: 22px;
}
.btn_color_dark{
        color: #fff;
background: rgba(50,50,50,.85);
border: none;
text-transform: uppercase;
font-size: 12px;
    line-height: normal;
    font-weight: 700;
   font-family: Raleway,sans-serif;
    letter-spacing: 2px;
    cursor: pointer;
    text-decoration:none;
    padding-top:14px;
padding-bottom:14px;
    padding-left: 22px;
    padding-right: 22px;
}
.testimonials{
background: url("../images/math.jpg");
background-size: cover;
background-attachment: fixed;
padding-top: 60px;
padding-bottom: 60px;
}
.inner_test{
margin: 0 80px;
}
.test_head_margin{
    margin-bottom:35px;
    text-align:center;
}
.test_head{
    font-size:30px;
    font-weight: 400;
color: #fff;
text-transform: uppercase;
font-family: 'Roboto';
}
.glass_card{
background: rgba(255,255,255,.5);
border-radius: 8px;
padding: 15px 30px 25px;
}
.review{
color: #fff;
font-size: 17px;
font-style: italic;
font-weight: 300;
margin: 0 0 5px;
}
.test_name{
color: #60bd6a;
font-size: 18px;
font-weight: 500;
}
.border_left{
    border-left:1px solid #fff;

}
.request_demo{
background: url("../images/request for demo.jpg");
background-size: cover;
background-attachment: fixed;
padding-top:20px;
padding-bottom:20px;
}

.plans_heading{
    top:90%;
    left:50%;
    text-align:center;
}

/*.dedicated_desk{
    display:block;
    height: 418px;
    background-image: url("../images/dedicateddesk.jpg");
    background-position:center;
    background-image: cover;
    background-repeat: no-repeat;
    
}
.dedicated_desk:hover .middle {
  opacity: 1;
}

.dedicated_desk:before{
    position: absolute;
    top:0;
    right:0;
    bottom: 0;
    left:0;
    background-color: inherit;
    content:'';
}
.private_office{
    display:block;
    height: 418px;
    background-image: url("../images/privateoffice.jpg");
    background-repeat: no-repeat;
    background-position:center;
     background-image: cover;
}
    .private_office:hover .middle {
  opacity: 1;
}

.private_office:before{
    position: absolute;
    top:0;
    right:0;
    bottom: 0;
    left:0;
    background-color: inherit;
    content:'';
}
.shared_office{
display:block;
    height: 418px;
    background-image: url("../images/sharedoffice.jpg");
    background-position:center;
    background-image: cover;
    background-repeat: no-repeat;
}
.shared_office:hover .middle {
  opacity: 1;
}
.shared_office:hover{
    opacity:0.7;
}
.shared_office:before{
    position: absolute;
    top:0;
    right:0;
    bottom: 0;
    left:0;
    background-color: inherit;
    content:'';
}
.virtual_office{
display:block;
    height: 418px;
    background-image: url("../images/virtualoffice1.jpg");
    background-position:center;
    background-image: cover;
    background-repeat: no-repeat;

}
.virtual_office:hover .middle {
  opacity: 1;
}
.virtual_office:hover{
    opacity:0.7;
}
.virtual_office:before{
    position: absolute;
    top:0;
    right:0;
    bottom: 0;
    left:0;
    background-color: inherit;
    content:'';
}*/
.border_right{
border-right:12px solid #fff;
}
.location_container {
    position: relative;
    width: 98%;
}
.location_container1 {
    position: relative;
    width: 98%;
}
.location_container2 {
    position: relative;
    width: 98%;
}
.image {
  display: block;
  transition: .5s ease;
  background-size: cover;
  width:100%;
}
.image:hover{
    background-color: rgba(0,0,0,0.7);
}
.image:before{
    position: absolute;
    top:0;
    right:0;
    bottom: 0;
    left:0;
    background-color: inherit;
    content:'';
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  z-index:999;
}
.location_container:hover .image {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.location_container:hover .middle {
  opacity: 1;
}
.location_container1:hover .image {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.location_container1:hover .middle {
  opacity: 1;
}
.location_container2:hover .image {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.location_container2:hover .middle {
  opacity: 1;
}
.centered{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    font-size: 19px;
}
.centered1{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    font-size: 19px;
}
.centered2{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    font-size: 19px;
}
.text {
color: white;
border: 1px solid #fff;
border-radius: 2px;
text-transform: uppercase;
margin-bottom:15px;
}
.visit{
padding: 10px 52px;
font-size: 11px;
}
.meeting{
padding: 10px 13px;
font-size: 11px;
}
.space{
padding: 10px 45px;
font-size: 11px;
}
.testimonial_section{
padding: 60px 0 83px;
}
.section-title {
    text-align: center;
    margin-bottom: 60px;
}
.section-title .bar {
    background-color: #337ab7;
    height: 1px;
    margin: 30px auto;
    max-width: 325px;
    position: relative;
}


/*-------------------------------*/
/*    Carousel Fade Transition   */
/*-------------------------------*/

#fade-quote-carousel.carousel {
  padding-bottom: 60px;
}
#fade-quote-carousel.carousel .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators {
  bottom: 10px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
  background-color: #337ab7;
  border: none;
}
#fade-quote-carousel blockquote {
    text-align: center;
    border: none;
}
#fade-quote-carousel .profile-circle {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 100px;
    background: url('../images/test1.png');
    background-size: cover;
background-attachment: fixed;
}
#fade-quote-carousel .profile-circle1 {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 100px;
    background: url('../images/test2.png');
    background-size: cover;
background-attachment: fixed;
}
#fade-quote-carousel .profile-circle2 {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 100px;
    background: url('../images/test3.png');
    background-size: cover;
background-attachment: fixed;
}
#fade-quote-carousel .profile-circle3 {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 100px;
    background: url('../images/test4.jpg');
    background-size: cover;
background-attachment: fixed;
}
.footer-content .social-links {
    margin-top: 15px;
}
.footer-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
        margin-top: 0px;
}
    .footer-content .social-links li {
    display: inline-block;
    margin-right: 3px;
}

.footer-content .social-links li {

    display: inline-block;
    margin-right: 3px;

}
.footer-content ul {
    list-style: none;
    line-height: 24px;
    
}
.footer-content .social-links li a i {
    color: #337ab7;
    font-size: 16px;
    border: 1px solid #337ab7;
    height: 35px;
    width: 35px;
    display: inline-block;
    text-align: center;
    line-height: 35px;
    border-radius: 50%;
}

.footer-content a {
    text-decoration: none;
    color: #323232;
}
.footer-content .contact-list li {
    line-height: 26px;
}

.footer-content .account-list li {
    line-height: 26px;
}
.footer-bottom {
    background: #337ab7;
    padding: 15px 0;
}
.footer-bottom p a {
    color: #fff;
    cursor:pointer;
}
.fb_icon{
   padding: 12px 15px 12px 15px;
    border-radius: 50% ;
    border:1px solid #337ab7; 
    color: #337ab7;
    background-color: transparent;
    font-size: 16px;
}
.fb_icon:hover{
background-color: #337ab7;
    color: white;
}
.twitter_icon{
    padding: 12px 13px 11px 14px;
    border-radius: 50%;
   border:1px solid #337ab7; 
    color: #337ab7;
    background-color: transparent;
    font-size: 18px;
    margin-left: 10px;
}
.twitter_icon:hover{
background-color: #337ab7;
    color: white;
}
@media screen and (min-width: 900px){

.content {
  position: relative;
width: 100%;
  margin: auto;
  overflow: hidden;
}
.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;

}
.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}
.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}
.content-details p{
  color: #fff;
  font-size: 0.8em;
}
.fadeIn-bottom{
  top: 80%;
}
}
